@mixin block($blockBackground: transparent, $blockTitle: $color-ascent, $blockText: $color-black-54, $blockPadding: $base-gap) {
    background: $blockBackground;
    color: $blockText;
    padding: $blockPadding;

    .title {
        color: $blockTitle;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: .12px;
      margin-bottom: $base-grid-sm;
    }
    .text {
        color: $blockText;
    }
}