.ad {
    @include block;
    position: relative;

    .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: none;
    }
    .title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        z-index: 1;
        padding: $base-grid;
      margin: 0;

      font-size: 14px;
      font-weight: 500;
      color: $color-black-38;
    }

    .ad--container {
        position: absolute;
        background: $color-ad;
        width: calc(100% - (#{$base-gap}*2));
        height: calc(100% - (#{$base-gap}*2));
        top: $base-gap;
        left: $base-gap;
        z-index: 0;
    }
}

.ad--news-feature,
.ad--column-feature,
.ad--standings {
  height: $ad-space-l;
}

.ad--gp {
  width: 100%;
  padding-top: 100%;
  height: 0;
}