.column-feature {
    @include block;

  .article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: $base-grid;

    .img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background: $divider-color
    }

    .meta {
      font-weight: 500;
    }

    .title {
      @extend %text-title-lg;
      margin: $base-gap 0;
    }

    .cta {
      @extend %text-meta;
      color: $color-primary;
      font-size: 14px;
    }
  }
}